:root{
	/* background */
	--1d2021: #191724;
	--282828: #1f1d2e;
	--3c3836: #26233a;
	--504945: #524f67;

	/* font */
	--928374: #e0def4;
	--a89984: #908caa;
	--bdae93: #6e6a86;
	--8ec07c: #9ccfd8;
	--ebdbb2: #f6c177;

	/* code highlighter */
	--comment: #6e6a86;
	--default: #c4a7e7;
	--keyword: #31748f;
	--string: #f6c177;
}
